#jatekTer{
    border: 1px solid rgb(0, 0, 0);
    width: 100%;
    height: 40.5vw;
    display: flex;
    background-color: grey
}
#kartya{
    /* border: 1px solid green; */
    width: auto;
    height: 47%;
    margin: 3%;
    background-color: brown;
    background-image: url("img/egyeb/lap2.png");
    background-size: cover;
}
#pontok{
    /* border: 1px solid blue; */
    width: auto;
    height: 47%;
    margin: 3%;
    background-color: brown;
    background-image: url("img/egyeb/lap1.png");
    background-size: cover;
}
#korok{
    /* border: 1px solid yellow; */
    width: 4%;
    height: 50%;
    margin-top: 10%;
    margin-left: 1%;
    background-color: brown;
    background-image: url("img/egyeb/lap3.png");
    background-size: cover;
}
#tabla{
    /* border: 1px solid violet; */
    width: 50%;
    height: 40vw;
    display: flex;
    flex-direction: column;
    padding: 5px;
    background: rgb(39,88,89);
    background: radial-gradient(circle, rgba(39,88,89,1) 0%, rgba(10,84,2,1) 100%);
}
#leftside{
    width: 60vh;
    height: 40vw;
}
.sordiv{
    display: flex;
    flex-direction: row;
    height: 8vw;
}
.oszlopdiv{
    width: 16.6%;
    margin: 5px;
    background: rgb(130,163,70);
    background: linear-gradient(90deg, rgba(130,163,70,0.7959558823529411) 0%, rgba(88,159,57,0.8743872549019608) 50%, rgba(81,175,92,0.6250875350140056) 100%);
}
.oszlopdiv{
    border: 1px solid black;
}
img {
    width: 100%;
}
body{
    background-color: black;
}