#jatekTer{
    border: 1px solid red;
    width: 100%;
    height: 40.5vw;
    display: flex;
}
#kartya{
    border: 1px solid green;
    width: 100%;
    height: 20.5vw;
    background: rgb(135,194,29);
    background: linear-gradient(90deg, rgba(135,194,29,0.6026785714285714) 0%, rgba(67,152,172,0.6306897759103641) 47%, rgba(86,38,209,0.4514180672268907) 100%);
}
#pontok{
    border: 1px solid blue;
    width: 100%;
    height: 20vw;
    background: rgb(194,29,107);
    background: linear-gradient(90deg, rgba(194,29,107,0.6026785714285714) 0%, rgba(67,172,143,0.6306897759103641) 47%, rgba(209,121,38,0.4514180672268907) 100%);
}
#korok{
    border: 1px solid yellow;
    width: 20%;
    height: 40.5vw;
    background: rgb(194,131,29);
    background: linear-gradient(90deg, rgba(194,131,29,0.6026785714285714) 0%, rgba(67,152,172,0.6306897759103641) 47%, rgba(209,38,208,0.4514180672268907) 100%);
}
#tabla{
    border: 1px solid violet;
    width: 50%;
    height: 40vw;
    display: flex;
    flex-direction: column;
    padding: 5px;
    background: rgb(189,29,194);
    background: linear-gradient(90deg, rgba(189,29,194,0.6026785714285714) 0%, rgba(123,67,172,1) 47%, rgba(209,38,104,0.4514180672268907) 100%);
}
#leftside{
    width: 60vh;
    height: 40vw;
}
.sordiv{
    display: flex;
    flex-direction: row;
    height: 8vw;
}
.oszlopdiv{
    width: 16.6%;
    margin: 5px;
}
.oszlopdiv{
    border: 1px solid black;
}
img {
    width: 100%;
}
body{
    background: rgb(145,145,145);
    background: linear-gradient(90deg, rgba(145,145,145,1) 0%, rgba(74,74,74,1) 47%, rgba(201,201,201,1) 100%);
}